.imgCover{
    max-width: 50%; 
}
.containerContent{
    margin-top: 65px;
}

.bodyLink{
   color: white;
}
.bodyLink:hover{
    color: white;
}




/* Oneinfos part (oneNovel and oneCartoon)*/
.oneInfos{
    border: 2px solid #f4f4f4;
    background-color: #f4f4f4;
    border-radius: 25px;
    padding: 30px 0px;
}
.imgOneCover{
    max-width: 20%;
}
.fieldDescription{
    font-weight: bold;
}
.dataDescription{
    margin-left: 10px;
}