/*google font 
    font-family: 'Bangers', cursive;
    font-family: 'Marck Script', cursive;
*/
.titleConnexion, .connexion, .wrongIdText{
    font-family: 'Bangers', cursive;
}
.connexion{
    font-size: 30px;
}
.submitButtonConnexion{
    padding: 10px 10%;
    font-size: 40px;
    border-radius: 30px;
    border: 1px solid black;
}

/*general */
.imgCover{
    max-width: 50%; 
}
.containerContent, .containerContentCartoon{
    margin-top: 65px;
}

.bodyLink{
   color: white;
}
.bodyLink:hover{
    color: white;
}
/* cartoon part font */
.menuCartoon, .containerContentCartoon{ /*change of the fonts in bangers for the whole cartoon part*/
    font-family: 'Bangers', cursive;
}

/* addNovel and Cartoon part */
.addSubmitButton{
    padding: 10px 25% !important;
}
.addCartoonForm{
    font-family: 'Bangers', cursive;
}

/* Oneinfos part (oneNovel and oneCartoon)*/
.oneInfos, .statistics, .alreadyRead{
    border: 2px solid #f4f4f4;
    background-color: #f4f4f4;
    border-radius: 25px;
    padding: 30px 0px;
}
.imgOneCover{
    max-width: 20%;
}
.fieldDescription{
    font-weight: bold;
}
.dataDescription{
    margin-left: 10px;
}